body,
.v-application {
    @include font(text-color, 16px, 22px, regular);
    font-family: "Poppins", sans-serif;
    background-color: #fafafa;
}
/*==============================*/
/*=====   Common styles   ======*/
/*==============================*/
* {
    letter-spacing: normal !important;
}
a {
    color: map-get($colors, brand);
    text-decoration: none;
}
.v-application p,
p {
    padding: 0;
    margin: 0;
}
.v-application a:hover {
    text-decoration: none;
    color: map-get($colors, brand);
}
.v-application--is-ltr .v-input--selection-controls__input {
    margin-right: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
ul,
address {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
button {
    padding: 0;
    margin: 0;
    border: 0;
    &:focus {
        outline: 0;
    }
}
.v-btn {
    letter-spacing: normal;
}
.pointer {
    cursor: pointer;
}

/* Removing input type number spin arrow Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

/*==============================*/
/*=====  Main structure  =======*/
/*==============================*/
.container {
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -12px;
    margin-left: -12px;
}
@include media(container) {
    .container {
        max-width: 1614px;
    }
}
.site-content-wrap {
    padding: rem-calc(35px 0);
}

/*==============================*/
/*==vuetify inputs auto height==*/
/*==============================*/
.v-text-field.v-text-field--solo .v-input__control {
    min-height: auto !important;
}
.v-text-field .v-input__control .v-input__slot {
    min-height: auto !important;
    display: flex !important;
    align-items: center !important;
}

// Vee form avalidation
.input-wrap {
    padding-bottom: rem-calc(12px);

    .input-label {
        padding-bottom: rem-calc(5px);
        @include font(primary, 15px, 22px, false);
    }

    &.invalid {
        span {
            @include font(false, 12px, 14px, false);
            color: #ff0000;
        }
    }
    .v-input {
        input {
            height: 43px;
            max-height: 43px;
            padding: 0;
            @include font(primary, 15px, 43px, false);
        }
        fieldset {
            border: 1px solid lighten(map-get($colors, grey), 35);
            border-radius: 0;
        }
    }
    &.invalid {
        .v-input {
            fieldset {
                border-color: #ff0000;
            }
        }
    }
    .mdi-information-outline {
        margin: rem-calc(10px 0 0 10px);
    }
}
