body,
.v-application{
	@include font(text-color, 16px, 22px, regular);
	font-family:'Poppins', sans-serif;
	background-color: #fafafa;
}
/*==============================*/
/*=====   Common styles   ======*/
/*==============================*/
*{letter-spacing: normal !important;}
a{color: map-get($colors, brand); text-decoration: none;}
.v-application p,p{padding: 0; margin: 0;}
.v-application a:hover{text-decoration:none;color: map-get($colors, brand)}
.v-application--is-ltr .v-input--selection-controls__input {margin-right: 12px;}
h1,h2,h3,h4,h5,h6,p,div,ul,address{margin: 0;}
ul{list-style: none; padding: 0; margin: 0;}
button{
	padding: 0; 
	margin: 0; 
	border: 0;
	&:focus{outline: 0;}
}
.v-btn{
    letter-spacing: normal;
}
.pointer{cursor: pointer;}



/*==============================*/
/*=====  Main structure  =======*/
/*==============================*/

@include media(container){
	.container{
		max-width: 1614px;
	}
}
.site-content-wrap{
    padding: rem-calc(35px 0);
}

/*==============================*/
/*==vuetify inputs auto height==*/
/*==============================*/
.v-text-field.v-text-field--solo .v-input__control{
    min-height: auto !important;
}
.v-text-field .v-input__control .v-input__slot {
    min-height: auto !important;
    display: flex !important;
    align-items: center !important;
}

