$colors: (
    brand        : #ff9900,
    white        : #fff,
    grey         : #828282,
    vulcan       : #353a44,
    Black-Russian:#222428,
);

$font-weight: (
    light      : 300,
    regular    : 400,
    medium     : 500,
    semi-bold  : 600,
    bold       : 700,
    extra-bold : 800,
    black      : 900,
);

$url: '../images';