
$btn-letter-spacing: 0;
$colors: (
    primary         : #353a44, // header-bg
    secondary       : #30353d, // footer-bg
    brand           : #ff9900, // logo-bg
    light           :#fff
);

$font-weight: (
    light      : 300,
    regular    : 400,
    medium     : 500,
    semi-bold  : 600,
    bold       : 700,
    extra-bold : 800,
    black      : 900,
);
