.card-list-wrap {
    padding: rem-calc(30px);
    margin: rem-calc(0 0 40px);

    h1 {
        padding: 0;
        @include font(primary, 35px, 40px, medium);
    }
}

.watch-list-related-product {
    padding: rem-calc(0 30px);
}
.card-list-table {
    padding: rem-calc(44px 0 0);

    .proceed {
        padding: rem-calc(25px 0 0);
        text-align: right;
        .confirm-order {
            height: 43px;
            width: 250px;
            @include font(false, 18px, 26px, semi-bold);
        }
    }
    table {
        width: 100%;
        padding: 0;
        margin-bottom: rem-calc(13px);
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-collapse: collapse;

        th {
            height: 50px;
            padding: rem-calc(0 20px);
            text-align: left;
            @include font(primary, 16px, 22px, semi-bold);
            background-color: lighten(map-get($colors, grey), 45);
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }

        td {
            padding: rem-calc(20px);
            text-align: left;
            @include font(false, 13px, 20px, false);
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);

            .cart-product-title {
                max-width: 450px;
                padding-left: rem-calc(40px);
                h4 {
                    padding-bottom: rem-calc(15px);
                    @include font(primary, 15px, 22px, regular);
                }
            }
            .unit-price {
                @include font(brand, 17px, 22px, medium);
            }
        }
    }
    .more-product {
        width: 250px;
        height: 50px !important;
        @include font(false, 18px, 22px, semi-bold);
    }
}
@include media(lg) {
    .card-list-wrap {
        padding: rem-calc(15px);

        h1 {
            padding: 0;
            @include font(primary, 25px, 30px, medium);
        }
    }
    .card-list-table {
        padding: rem-calc(10px 0 0);
    }
    .watch-list-related-product {
        padding: rem-calc(0 15px);
    }
}
@include media(md) {
    .card-list-table {
        .proceed {
            padding: rem-calc(10px 0);
            border-bottom: 1px solid #ddd;
        }
        table {
            border: none;
            thead {
                display: none;
            }
            tbody,
            tr,
            td {
                width: 100%;
                display: block;
            }
            tbody {
                tr {
                    margin-bottom: 15px;

                    td {
                        height: auto;
                        text-align: center;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        padding-left: 50%;
                        position: relative;
                        border-left: thin solid rgba(0, 0, 0, 0.12);
                        border-right: thin solid rgba(0, 0, 0, 0.12);
                        &:first-child {
                            border-top: thin solid rgba(0, 0, 0, 0.12);
                        }

                        &::before {
                            content: attr(data-label);
                            position: absolute;
                            left: 15px;
                            top: 50%;
                            transform: translateY(-50%);
                            @include font(primary, 15px, 20px, medium);
                        }
                        .cart-product-title {
                            padding: 0;
                        }
                        .cart-product {
                            flex-wrap: wrap;
                            .v-image {
                                margin: 0 auto 10px;
                            }
                        }
                        .quantity-holder {
                            margin: 0 auto;
                        }
                    }
                    &:nth-child(even) {
                        background-color: #f5f5f5;
                    }
                    &:last-child {
                        td {
                            border-bottom: thin solid rgba(0, 0, 0, 0.12);
                        }
                    }
                }
            }
        }
    }
}
