.create-ad-wrap {
    max-width: 1170px;
}
.create-ad {
    padding: rem-calc(55px 60px);

    .v-input {
        input {
            height: 43px;
            max-height: 43px;
            padding: 0;
            @include font(primary, 15px, 43px, false);
        }
        fieldset {
            border: 1px solid #dbdbdb;
            border-radius: 0;
        }
    }
    .publish-ad {
        width: 200px;
        height: 50px !important;
        @include font(false, 18px, 22px, bold);
    }
}
.breadcrumb-holder {
    margin-bottom: rem-calc(30px);
    background-color: lighten(map-get($colors, grey), 45);
}

.pick-category {
    padding: rem-calc(0 0 40px);
    h3 {
        @include font(primary, 17px, 22px, semi-bold);
    }
    ul {
        padding-left: rem-calc(10px);
        margin: 0;
        li {
            @include font(primary, 15px, 22px, false);
            .v-icon {
                font-size: 20px;
            }
            &:last-child {
                .v-icon {
                    display: none;
                }
            }
        }
    }
    .edit-category {
        margin-left: rem-calc(15px);
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
.v-input--selection-controls {
    padding: 0;
    margin: 0;
}
.conditions {
    padding-bottom: rem-calc(23px);

    h4 {
        margin-right: rem-calc(25px);
        @include font(primary, 16px, 22px, semi-bold);
    }
    .v-label {
        color: map-get($colors, primary);
    }
}

.multi-image-uploader {
    padding: rem-calc(15px);
    margin: rem-calc(20px 0 35px);
    border: 1px dashed lighten(map-get($colors, grey), 30);

    h3 {
        padding: rem-calc(0 0 5px);
        @include font(primary, 15px, 22px, medium);
    }
    .drag-text,
    .browse-text {
        @include font(primary, 12px, 14px, medium);
    }
    div[editupload] {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .image-list-container {
            padding-left: rem-calc(20px);
            margin: 0;
            max-width: 100%;
            min-height: 50px;

            .image-list-item {
                width: 125px;
                height: 100px;

                .show-img {
                    max-width: 100px;
                    max-height: 90px;
                }
            }
            .image-highlight {
                border: 1px solid map-get($colors, brand);
            }
        }

        .preview-image {
            border-radius: 0;
            height: 110px;
        }
        .image-overlay {
            border-radius: 0;
        }
        .image-container {
            height: 145px;
            width: 165px;
        }
    }
}
.auction-check {
    .v-radio {
        margin: 0 !important;
        padding: rem-calc(15px);
        background-color: lighten(map-get($colors, grey), 45);
        border: 1px solid lighten(map-get($colors, grey), 40);
        &.v-item--active {
            border-color: lighten(map-get($colors, brand), 35);
            background-color: lighten(map-get($colors, brand), 48);
        }
        .v-label {
            @include font(primary, 18px, 22px, semi-bold);
        }
        &.v-item--active {
            .v-label {
                color: map-get($colors, brand);
            }
        }
    }
}

.with-auction {
    padding: rem-calc(20px 15);
    border: 1px solid lighten(map-get($colors, brand), 35);
    background-color: lighten(map-get($colors, brand), 48);

    .input-label {
        padding-top: rem-calc(9px);
        padding-right: rem-calc(10px);
    }
}

.input-wrap {
    padding-bottom: rem-calc(12px);

    .input-label {
        padding-bottom: rem-calc(5px);
        @include font(primary, 15px, 22px, false);
    }

    &.invalid {
        span {
            @include font(false, 12px, 14px, false);
            color: #ff0000;
        }
    }
    .v-input {
        input {
            height: 43px;
            max-height: 43px;
            padding: 0;
            @include font(primary, 15px, 43px, false);
        }
        fieldset {
            border: 1px solid #dbdbdb;
            border-radius: 0;
        }
    }
    &.invalid {
        .v-input {
            fieldset {
                border-color: #ff0000;
            }
        }
    }
    .mdi-information-outline {
        margin: rem-calc(10px 0 0 10px);
    }
}

.personal-information {
    padding: rem-calc(40px 0 0);

    h3 {
        padding: rem-calc(0 0 5px);
        margin-bottom: rem-calc(16px);
        @include font(brand, 20px, 22px, medium);
        border-bottom: 1px solid lighten(map-get($colors, grey), 36);
    }
}
