
.product_list_items{
    flex: 100%;
    max-width: 100%;
    .product-card{
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .product-image{
            width: 24%;
            border-radius: 0 0 10px 10px !important;
        }
        .product-list-mid{
            width: 46%;
            padding: 0 42px;
            position: relative;
            .product-sub-title{
                padding: 0;
            }
            .product-title {
                line-height: 25px;
                padding-bottom: 22px;
            }
            .time-and-bid-wrap{
                max-width: 295px;
            }
            .product-location{
                margin-top: 12px;
            }
        }
        .product-bottom{
            width: 30%;
            padding: 0;
            text-align: center;
            .product-top-labels{
                padding: 0 0 30px;
                position: static;

                .v-btn:not(:last-child) {
                    margin-right: rem-calc(33px);
                }
            }
            .product-price-box{
                 padding: 0;
                .product-price {
                    padding-right: 0;
                }
            }
        }

        &::after{
            @include sudo(1px, 90%, right,30%, top,50%, false);
            background-color: #dfdfdf;
            transform: translateY(-50%);
        }
    }
}



