.product-details-summery {
    max-width: 638px;
    padding: rem-calc(0 50px);

    .product-details-box {
        padding: rem-calc(0 35px 9px 0);
        margin-bottom: rem-calc(11px);
        position: relative;
        .v-btn {
            @include absolute(false, false, top, 0, right, 0);
            .v-icon {
                font-size: 18px;
                color: lighten(map-get($colors, grey), 28);
            }
        }
        .category {
            padding-bottom: rem-calc(6px);
            display: block;
            @include font(grey, 15px, 22px, light);
        }
        h1 {
            @include font(primary, 22px, 30px, medium);
        }
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            padding-bottom: rem-calc(9px);
            @include font(grey, 15px, 20px, false);

            span {
                @include font(primary, 17px, 20px, semi-bold);
            }
        }
    }
    .rating {
        padding: rem-calc(9px 0 13px);
        @include font(primary, 14px, 20px, false);
    }
    .availablity {
        @include font(grey, 15px, 15px, false);

        .pieces {
            padding-left: rem-calc(10px);
            display: inline-block;
            color: #74788d;
        }

        b {
            padding-left: rem-calc(13px);
            display: inline-block;
            color: map-get($colors, primary);
            font-weight: map-get($font-weight, semi-bold);
        }
    }
    .price {
        padding: rem-calc(34px 0 40px);
        line-height: rem-calc(35px);
        display: flex;
        align-items: flex-end;
        .price-payable {
            @include font(brand, 32px, 35px, semi-bold);
        }
        .price-orginal {
            padding-left: rem-calc(14px);
            display: inline-block;
            @include font(grey, 15px, 30px, false);
        }
        .price-offer {
            padding-left: rem-calc(4px);
            display: inline-block;
            @include font(primary, 15px, 30px, false);
        }
    }
    .quantity-title {
        padding-right: rem-calc(50px);
        @include font(grey, 15px, 20px, false);
    }
    .btn-holder {
        padding-top: rem-calc(55px);
        .btn-box {
            max-width: 47.8%;
            .v-btn {
                height: 40px;
                @include font(false, 16px, 20px, false);
            }
        }
    }
    &::v-deep .share-product {
        padding: rem-calc(0 30px);
        margin-top: rem-calc(40px);
        background-color: #f7f8f8;
        span {
            padding-right: rem-calc(10px);
        }
        .share-product-box {
            width: 100%;

            a {
                padding: rem-calc(0 8px);
                display: inline-block;
                border: none;
                i {
                    @include font(false, 25px, 40px, false);
                }
            }
        }
    }
}

@include media(1639px) {
    .product-details-summery {
        max-width: 43%;
        padding: rem-calc(0 20px);
    }
}
@include media(lg) {
    .product-details-summery {
        width: 50%;
        max-width: 100%;
        padding: rem-calc(0 0 0 20px);
        .product-details-box {
            h1 {
                @include font(primary, 18px, 26px, medium);
            }
        }
        .btn-holder {
            padding-top: rem-calc(20px);
        }
        .price {
            padding: rem-calc(30px 0);
        }
        &::v-deep .share-product {
            padding: rem-calc(0 10px);
            margin-top: rem-calc(7px);
            .share-product-box {
                a {
                    padding: rem-calc(0 5px);
                }
            }
        }
    }
}
@include media(699px) {
    .product-details-summery {
        width: 100%;
        padding: rem-calc(40px 0 0);
    }
}
