.product-box{
    padding-top: 4px;
    .v-sheet.v-card{
        @include border-radius(10px);

        .product-sub-title{
            padding-bottom: rem-calc(8px);
        }
    }
}
.product-top-labels {
    position: absolute;
    top: 0;
    right: 0;
    .v-btn:not(:last-child) {
        margin-right: rem-calc(10px);
    }
}


.product-title {
    padding-bottom: rem-calc(10px);
    @include font(primary, 18px, 22px, medium);

    a{  
        @include truncate-clamp(2);
    }
}

.product-price-box{
    .product-price{
        padding-right: rem-calc(10px);
        display: inline-block;
        @include font(brand, 22px, 28px, medium);
    }
    .bidding-status{
        @include font(gray, 14px, 28px, light);
    }
}
.product-location{
    padding-left: rem-calc(17px);
    position: relative;
    @include truncate-clamp(1);
    @include font(gray, 14px, 20px, false);

    i.v-icon{
        @include absolute(false, false, left,-2px,top,0);
        @include font(gray, 17px, 20px, false);  
    }
}
.auction-time-holder{
    .time-title{
        padding-right: rem-calc(10px);
        display: inline-block;
        @include font(gray, 14px, 18px, light); 
    }
    .time-value{
        display: inline-block;
        @include font(secondary, 16px, 18px, medium);
    }
}
.auction-bid-holder{
    .bid-title{
        padding-right: rem-calc(10px);
        display: inline-block;
        @include font(primary, 14px, 18px, light); 
    }
    .bid-value{
        display: inline-block;
        @include font(secondary, 16px, 18px, medium);
    }
}

.sell-btn-wrap{
    padding: rem-calc(0 0 70px 30px);
    .sell-btn.v-btn{
        height: 46px;
        @include font(false, 16px, 22px, semi-bold);

        i{
            @include font(false, 18px, 22px, false);
        }
    }
}

@include media(1639px){
    .v-sheet.v-card{
        .product-sub-title{
            padding: rem-calc(7px 16px);
        }
        .product-title {
            padding-bottom: rem-calc(7px);
            @include font(primary, 17px, 22px, medium);
        }
    }

    .product-price-box{
        .product-price{
            @include font(brand, 19px, 24px, medium);
        }
        .bidding-status{
            @include font(gray, 14px, 20px, light);
        }
    }
    .product-information{
        padding-bottom: rem-calc(15px);
    }
    .product-bottom{
        padding: rem-calc(12px 16px);

        .auction-time-holder{
            .time-title{
                padding-right: rem-calc(5px);
                @include font(false, 13px, 15px, false);
            }
            .time-value{
                @include font(false, 15px, 16px, false);
            }
        }

        .auction-bid-holder{
            .bid-title{
                padding-right: rem-calc(5px);
                @include font(false, 13px, 15px, false); 
            }
            .bid-value{
                @include font(false, 15px, 16px, false);
            }
        }
    }

    .sell-btn-wrap{
        .sell-btn.v-btn{
            height: 38px;
        }
    }
}