.product-details-wrap {
    padding: rem-calc(26px 30px);
}

.product-details-top {
    padding: rem-calc(36px 0 0);
}

.product-details-images {
    max-width: 482px;
}

.product-details-info {
    max-width: 410px;

    .delivery-option {
        padding: rem-calc(16px 30px);

        .v-card__title {
            color: darken(map-get($colors, grey), 30);
            @include font(false, 15px, 22px, medium);
        }
        .v-card__text {
            color: map-get($colors, grey);
            @include font(false, 15px, 21px, false);

            .star {
                font-size: 14px;
            }
        }
    }
}
.v-tooltip__content {
    line-height: 15px;
    .tooltip-info {
        @include font(false, 12px, 12px, light);
    }
}

.please-contact {
    @include font(false, 16px, 22px, false);
    a {
        color: map-get($colors, brand);
        font-weight: map-get($font-weight, bold);

        &:hover {
            text-decoration: underline;
        }
    }
}
