.product-details-wrap {
    padding: rem-calc(26px 30px);
}

.product-details-top {
    padding: rem-calc(36px 0 0);
}

.product-details-images {
    max-width: 482px;
}
.product-details-summery {
    max-width: 638px;
    padding: rem-calc(0 115px 0 62px);

    .category {
        padding-bottom: rem-calc(6px);
        display: block;
        @include font(grey, 15px, 22px, light);
    }

    .product-title {
        padding-bottom: rem-calc(9px);
        @include font(primary, 22px, 30px, medium);
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            padding-bottom: rem-calc(9px);
            @include font(grey, 15px, 20px, false);

            span {
                color: map-get($colors, primary);
                font-weight: map-get($font-weight, medium);
            }
        }
    }
    .rating {
        padding: rem-calc(9px 0 13px);
        @include font(primary, 14px, 20px, false);
    }
    .availablity {
        @include font(grey, 15px, 15px, false);

        .pieces {
            padding-left: rem-calc(10px);
            display: inline-block;
            color: #74788d;
        }

        b {
            padding-left: rem-calc(13px);
            display: inline-block;
            color: map-get($colors, primary);
            font-weight: map-get($font-weight, semi-bold);
        }
    }
    .price {
        padding: rem-calc(34px 0 40px);
        line-height: rem-calc(35px);
        display: flex;
        align-items: flex-end;
        .price-payable {
            @include font(brand, 32px, 35px, semi-bold);
        }
        .price-orginal {
            padding-left: rem-calc(14px);
            display: inline-block;
            @include font(grey, 15px, 30px, false);
        }
        .price-offer {
            padding-left: rem-calc(4px);
            display: inline-block;
            @include font(primary, 15px, 30px, false);
        }
    }
    .quantity-title {
        padding-right: rem-calc(50px);
        @include font(grey, 15px, 20px, false);
    }
    .btn-holder {
        padding-top: rem-calc(55px);
        .btn-box {
            max-width: 47.8%;
            .v-btn {
                height: 40px;
                @include font(false, 16px, 20px, false);
            }
        }
    }
    .share-product {
        padding: rem-calc(0 30px);
        margin-top: rem-calc(40px);
        background-color: #f7f8f8;
        span {
            padding-right: rem-calc(10px);
        }
        .share-product-box {
            width: 100%;

            a {
                padding: rem-calc(0 8px);
                display: inline-block;
                border: none;
                i {
                    @include font(false, 25px, 40px, false);
                }
            }
        }
    }
}

.product-details-info {
    max-width: 410px;

    .delivery-option {
        padding: rem-calc(16px 30px);

        .v-card__title {
            color: darken(map-get($colors, grey), 30);
            @include font(false, 15px, 22px, medium);
        }
        .v-card__text {
            color: map-get($colors, grey);
            @include font(false, 15px, 21px, false);

            .star {
                font-size: 14px;
            }
        }
    }
}
.v-tooltip__content {
    line-height: 15px;
    .tooltip-info {
        @include font(false, 12px, 12px, light);
    }
}

.please-contact {
    @include font(false, 16px, 22px, false);
    a {
        color: map-get($colors, brand);
        font-weight: map-get($font-weight, bold);

        &:hover {
            text-decoration: underline;
        }
    }
}
