.product-box{
    padding-top: 4px;
    .v-sheet.v-card{
        @include border-radius(10px);

        .product-sub-title{
            padding-bottom: rem-calc(8px);
        }
    }
}
.product-top-labels {
    @include absolute(false, false, right,0, top,0);
    .v-btn{
        width: rem-calc(35px);
        height: rem-calc(35px);

        i.mdi{
            @include font(false, 18px, 35px, false);
        }
    }
    .v-btn:not(:last-child) {
        margin-right: rem-calc(10px);
    }
}
.product-information{
    padding-bottom: rem-calc(20px);
}

.product-title {
    padding-bottom: rem-calc(10px);
    @include font(primary, 18px, 22px, medium);

    a{  
        @include truncate-clamp(2);
    }
}

.product-price-box{
    .product-price{
        padding-right: rem-calc(10px);
        display: inline-block;
        @include font(brand, 22px, 28px, medium);
    }
    .bidding-status{
        @include font(gray, 14px, 28px, light);
    }
}
.product-location{
    padding-left: rem-calc(17px);
    position: relative;
    @include truncate-clamp(1);
    @include font(gray, 14px, 20px, false);

    i.v-icon{
        @include absolute(false, false, left,-2px,top,0);
        @include font(gray, 17px, 20px, false);  
    }
}
.auction-time-holder{
    .time-title{
        padding-right: rem-calc(10px);
        display: inline-block;
        @include font(gray, 14px, 18px, light); 
    }
    .time-value{
        display: inline-block;
        @include font(secondary, 16px, 18px, medium);
    }
}
.auction-bid-holder{
    .bid-title{
        padding-right: rem-calc(10px);
        display: inline-block;
        @include font(primary, 14px, 18px, light); 
    }
    .bid-value{
        display: inline-block;
        @include font(secondary, 16px, 18px, medium);
    }
}

.sell-btn-wrap{
    padding: rem-calc(0 0 70px 30px);
    .sell-btn.v-btn{
        height: 46px;
        @include font(false, 16px, 22px, semi-bold);

        i{
            @include font(false, 18px, 22px, false);
        }
    }
}

@include media(1639px){
    .v-sheet.v-card{
        .product-sub-title{
            padding: rem-calc(7px 16px);
        }
        .product-title {
            padding-bottom: rem-calc(7px);
            @include font(false, 17px, 22px, false);
        }
    }

    .product-price-box{
        .product-price{
            @include font(false, 19px, 24px, false);
        }
        .bidding-status{
            @include font(false, 14px, 20px, false);
        }
    }
    .product-information{
        padding-bottom: rem-calc(15px);
    }
    .product-bottom{
        padding: rem-calc(12px 16px);

        .auction-time-holder{
            .time-title{
                padding-right: rem-calc(5px);
                @include font(false, 13px, 15px, false);
            }
            .time-value{
                @include font(false, 15px, 16px, false);
            }
        }

        .auction-bid-holder{
            .bid-title{
                padding-right: rem-calc(5px);
                @include font(false, 13px, 15px, false); 
            }
            .bid-value{
                @include font(false, 15px, 16px, false);
            }
        }
    }

    .sell-btn-wrap{
        .sell-btn.v-btn{
            height: 38px;
        }
    }
}


@include media(md){
    .product-btm-labels{
        span{
            line-height:rem-calc(18px) ;
        }
    }

    .product-top-labels {
        .v-btn{
            width:  rem-calc(25px);
            height:  rem-calc(25px);

            i.mdi{
                @include font(false, 15px, 25px, false);
            }
        }
        .v-btn:not(:last-child) {
            margin-right: rem-calc(5px);
        }
    }
    .v-sheet.v-card{
        .product-sub-title{
            padding: rem-calc(10px 16px 5px);
            line-height: 16px;
        }
        .product-title {
            padding-bottom: rem-calc(7px);
            @include font(false, 14px, 20px, false);
        }
    }

    .product-price-box{
        .product-price{
            @include font(false, 16px, 20px, false);
        }
    }
    .product-information{
        padding-bottom: rem-calc(10px);
    }
    .product-bottom{
        padding: rem-calc(8px 16px);

        .auction-time-holder{
            width: 100%;
            .time-value{
                @include font(false, 12px, 15px, false);
            }
        }
        .auction-bid-holder{
            width: 100%;
        }
    }
}

@include media(599px){
    .product-items{
        width: 50%;
    }
}
@include media(374px){
    .product-items{
        width: 100%;
    }

    .product-bottom{
        .auction-time-holder{width: auto;}
        .auction-bid-holder{width: auto;}
    }
}