.watch-list-wrap {
    padding: rem-calc(53px 30px 77px);
    margin: rem-calc(0 0 40px);

    h1 {
        padding: rem-calc(0 0 12px);
        @include font(primary, 35px, 40px, medium);
    }
    .watch-list-count {
        display: block;
        @include font(primary, 16px, 22px, false);
    }
}

.watch-list-related-product {
    padding: rem-calc(0 30px);
}
.watch-list-table {
    padding: rem-calc(44px 0 0);
    table {
        width: 100%;
        padding: 0;
        margin-bottom: rem-calc(13px);
        table-layout: fixed;
        border: 1px solid #ccc;
        border-collapse: collapse;

        th {
            height: 50px;
            padding: rem-calc(0 20px);
            text-align: left;

            @include font(primary, 13px, 19px, semi-bold);
            background-color: lighten(map-get($colors, grey), 45);
            border-bottom: 1px solid lighten(map-get($colors, grey), 35);

            .order-number {
                display: block;
                @include font(primary, 13px, 19px, semi-bold);
            }
            .order-date {
                display: block;
                @include font(grey, 13px, 19px, regular);
            }
            &.tbl-1 {
                width: 24%;
            }
            &.tbl-2 {
                width: 27%;
            }
            &.tbl-3 {
                width: 15%;
            }
            &.tbl-4 {
                width: 15%;
            }
            &.tbl-5 {
                width: 14.4%;
            }
            .status {
                width: 110px;
                display: block;
            }
            .winning-auction {
                width: 115px;
                display: block;
            }
            .order-item-price {
                width: 145px;
                display: block;
            }
        }

        td {
            padding: rem-calc(10px 20px);
            text-align: left;
            @include font(false, 13px, 20px, false);

            .payment-method {
                @include font(primary, 13px, 20px, semi-bold);

                strong {
                    font-weight: map-get($font-weight, medium);
                }
            }
            .address {
                padding: rem-calc(3px 0 0);
                font-style: normal;
                @include font(primary, 13px, 20px, regular);

                h4 {
                    padding: rem-calc(0 0 3px);
                    display: block;
                    font-weight: map-get($font-weight, semi-bold);
                }
                span {
                    display: block;
                }
            }
            .details {
                padding-top: rem-calc(3px);
                display: inline-block;
                text-decoration: underline;
                @include font(brand, 14px, 20px, false);
            }
            .product {
                padding-bottom: rem-calc(7px);
                @include font(primary, 13px, 14px, semi-bold);
            }
            .type {
                margin-left: rem-calc(25px);
                height: 24px;
            }
            .order-mony {
                @include font(brand, 15px, 20px, medium);
            }

            &.border-right {
                border-right: 1px solid lighten(map-get($colors, grey), 30);
            }
        }
    }

    @media screen and (max-width: 900px) {
        table {
            border: 0;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: 0.625em;
        }

        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: 0.8em;
            text-align: right;
        }

        table td::before {
            /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

        table td:last-child {
            border-bottom: 0;
        }
    }
}
